<!DOCTYPE html>
<html>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Common Navigation Bar</a>
        </div>
    </div>
</nav>

<div class="container">
    <h1 layout:fragment="header">This is a layout header</h1>

    <div layout:fragment="content">A placeholder for real content.</div>
</div>
</body>
</html>